<!-- 调用头部文件 -->
<include file = "Public:homeheader" title = "留言板-{$SiteInfo.title}" />
<!-- 本页导航栏开始 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>留言板</h2>
        <ol class="breadcrumb">
            <li>
                <a href="__APP__">首页</a>
            </li>
            <li class="active">
                <strong>留言板</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!-- 本页导航栏结束 -->

<!-- 正文开始 -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <ul class="notes">
                    <foreach name = "arr" item = "vo">
                        <li>
                            <div style="color:#fff;background:{$vo.color};overflow:hidden;">
                                <small>{$vo.ctime|date="Y-m-d H:i:s",###}</small>
                                <h4>{$vo.title}</h4>
                                <p >{$vo.content}</p>
                                <a href="#"><i class="fa fa-paint-brush"></i>{$vo.name}</a>
                            </div>
                        </li>
                    </foreach>
                </ul>
            </div>

        </div>

    </div>
    {$page}
    <!-- 留言开始 -->
    <hr>
    <center><h1>开始留言</h1></center>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <form action = "{:U('Message/send')}"  method="post" class="form-horizontal">
                    <div class="form-group has-success"><label class="col-sm-2 control-label">标题：</label>
                        <div class="col-sm-10"><input class="form-control" type="text" required name = "title"></div>
                    </div>
                   <div class="hr-line-dashed"></div>
                    <div class="form-group has-success"><label class="col-sm-2 control-label">署名：</label>
                        <div class="col-sm-10"><input class="form-control" type="text" required name = "name"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group has-success"><label class="col-sm-2 control-label">内容：</label>
                        <div class="col-sm-10"><textarea name="content" rows="8" style="width:100%;" required class="form-control"></textarea></div>
                    </div>
                    <center>
                    <div id="embed-captcha"></div>
                    <p id="wait" class="show">正在加载验证码......</p>
                    <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                    </center>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10"><button type="submit" class="btn btn-w-m btn-danger" style="width:100%;" id="popup-submit">点击提交</button></div>
                    </div>
            </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-warning" >
                <div class="panel-heading">
                    <i class="fa fa-warning"></i>留言规则
                </div>
                <div class="panel-body">
                    <ul>
                        <li>不允许发送带有辱骂信息</li>
                        <li>不允许发送广告</li>
                        <li>不允许发送人身攻击</li>
                        <li>不允许做无聊的事情</li>
                        <li>如果觉得他人不错 就鼓励一下吧</li>
                        <li>不设置验证码有些人太不要脸了</li>
                        <li>如果以上不遵守，本站会进行封IP</li>
                        <li>如果以上都遵守了，那么这里欢迎你</li>
                        <li style="color:red;">留言内容千万别超过100字。不然会被截取</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- 留言结束 -->
</div>
<!-- 正文结束 -->

<!-- 调用脚部文件 -->

<include file = "Public:homefooter"  />
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>
        var handlerEmbed = function (captchaObj) {
        $("#popup-submit").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "{:U('Base/EchoMyVerify',array('t'=>$randtime))}", // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
            }, handlerEmbed);
        }
    });
</script>
